body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    width:100%;
    flex-wrap: wrap;
}

h1 {
    font-size: 55px;
    color: #333;
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
}

.board {
    display: flex;
    background-color: #0e67b9;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: solid black 4px;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 5px;
    gap: 10px;
}

.column:hover {
    background-color: #073996;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid black;
}


.cell.red {
    background-color: #ff4136;
}

.cell.yellow {
    background-color: #ffdc00;
}


.popup {
    display: none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: #fefefe;
    margin: 10vh auto;
    padding: 20px;
    border: 1px solid #888;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover{
    color: black;
    text-decoration: none;
}


#popupMessage {
    font-size: 35px; 
    margin: 15px 0;
    text-align: center;
    font-style: inherit;
}

#emojiDiv {
    font-size: 120px; 
    margin: 15px 0;
    text-align: center;
}

.closeBtn {
    margin-top: 15px;
    background-color: rgb(236, 51, 51);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.closeBtn:hover {
    background-color: rgb(204, 41, 41);
}

.restart-button {
    background-color: #e6392f;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 30px;
}

.restart-button:hover{
    background-color: #b01d1d;
}
